nav {background-color:#000000;
     padding: 10px;
     margin-bottom: 40px;
     text-align: center;
}
nav a {color:#ffffff;text-decoration: none;}
nav a:hover {background-color:#D7C0AE;} 


body {background-color:#ffffff; color:#000000;}

a {color:#4260a4;}

@media only screen and (min-width: 700px) {
}

@media only screen and (max-width: 699px) {
nav a {display: block;}
nav a span {display: none;}
}

#introhome {max-width:100%;  display: block; margin-left: auto; margin-right: auto;}
#indtitle {color:#000000; text-align:center; font-size: 5.5em;}
#indquote {color:#000000; text-align:center; font-size: 2.5em;}
.indsec1 {font-size:1.2em;}
.indsec2 {font-size:1.2em;}
main {text-align:center;}
.insentencesam {font-size:1.2em; color:#3f34e1}
h3 {font-size:2em;}
.indflex1 {display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     align-items: center;
     width: 100%;
     height: auto;
     
}
.indflex1 img {max-width:100%;}
iframe {max-width:100%;}

