    body 
    {background-color:#9BABB8;
    color:#ffffff;
    }

   h1, h2 {color:#a46a30;} 
   
   a {color:#2E4374;}
   
   
   
   nav {background-color:#EEE3CB;
        padding: 10px;
        margin-bottom: 30px}
   nav a {color:#eb604b;}
   nav a:hover {background-color:#D7C0AE;} 

   