
nav {background-color:#000000;
     padding: 10px;
     margin-bottom: 40px;
     text-align: center;
}
nav a {color:#ffffff;text-decoration: none;}
nav a:hover {background-color:#D7C0AE;} 


body {background-color:#ffffff; color:#000000;}

a {color:#630000;}



#introhome {max-width:100%;  display: block; margin-left: auto; margin-right: auto;}
h1 {color:#000000; text-align:center; font-size: 5.5em;}
#indquote {color:#ffffff; text-align:center; font-size: 8em; font-family: 'Anton', sans-serif;
     font-family: 'Bebas Neue', sans-serif;
     }
#indtitle {color:#ffffff; text-align:center; font-size: 8em;
     }

.indsec, .indsec1, .indsec2 {font-size:1.2em;}
.indsec p {font-size:1em;}

.insentencesam {font-size:1.2em; color:#3f34e1}
h2 {font-size:2em;
     text-align: center;
}
.indflex1 {display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     align-items: center;
     width: 100%;
     height: auto;
}
.indflex1 img {max-width:100%;}



.PD {display: flex;
     align-items: center;
     margin-bottom: 20px;
     padding: 20px;
}

.PDT, .PDI {flex: 1;
     padding: 10px;
}
.PDI img {max-width:100%;}
.PDR {display: flex;
     align-items: center;
     margin-bottom: 20px;
     flex-direction: row-reverse;
     padding: 20px;
}

.PSflex {
     display: flex;
     flex-wrap: wrap;
     justify-content:space-evenly;
}

.PSbox {
     width: 48%; 
     margin-bottom: 25px;
     border: 1px;
     border-style: solid;
     border-color:#000000;
     padding: 10px;
}

.comparisonintro {
     text-align: center; 
     font-size: 2em;
}


.divide_half {
     display: flex;
     height: 100%;
 }
 
 .left_half, .right_half {
     flex: 1;
     padding: 20px;
     text-align: center;
 }
 .left_half img, .right_half img{
     max-width: 100%;
}

 .compcontent {text-align: center;
     margin-left: 4em;
     margin-right: 4em;
}

 .compconthead h3 {
     text-align: center;
 }
 .previews {display:flex; flex:2; flex-wrap:wrap;}
 .previewlist {     margin-bottom: 25px;
     border: 1px;
     border-style: solid;
     border-color:#000000;
     padding: 10px;}
.previews h3 {font-size:1.5em;}

 button {align-items: center;}
 



 .subbanner {
     display: flex;
     position: fixed;
     background-color: #ffafafd1;
     left: 0;
     bottom: 0;
     width: 100%;
     padding: 20px;
     box-sizing:border-box;
     justify-content:space-around;
     align-items:center;

 }

 .subbanner input {
     padding: 10px;
     margin-right: 10px;
     border: 1px solid #ddd;
     border-radius: 5px;
 }

 .subbanner button {
     padding: 5px 15px;
     background-color: #1313f3;
     color: #ffffff;
     border-radius: 5px;
     cursor: pointer;
     
 }


 .close_btn {
     margin-left: 20px;
     cursor: pointer;
     font-size:20px;
     background-color: #f31313;
 }

 .subbanner p {
     font-size: 25px;
     font-family:'Bebas Neue', sans-serif;
 }
 .indsec, .indsec1, .indsec2 {
    flex: 1 1 auto;
    border: 2px solid #000;
    padding: 60px;
    margin: 10px;
    box-sizing: border-box;
    min-width: 100px;
    max-width: 2000px;
 }

 .wholeind {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }

.g9vidiframe {
   
     display: block;

     margin-left: auto;
     
     margin-right: auto;    
}



 .emailhide {
     display:none;
 }

 .wholeind {margin:25px;}
 .wholesec {margin:35px;}
 .wholethird {margin:35px;}


 .intro {
     height:100vh;
 }
 
 .intro video {
     height:100%;
     width: 100%;
     object-fit: cover;
 }
 
 .intro2 {
     height:100vh;
    
 }
 .intro2 video {
     height:100%;
     width: 100%;
     object-fit:contain;
 }


 .navbar {
     background-color: #333;
     overflow: hidden;
     position: sticky;
     top: 0;
     width: 100%;
     display: flex;
     justify-content: space-between;
 }
 
 .navlinks {
     display: flex;
     justify-content: space-around;
     align-items: center;
     width: 100%;
 }
 
 .navlinks a {
     color: white;
     text-decoration: none;
     padding: 14px 16px;
     display: block;
 }
 
 .navlinks a:hover {
     background-color: #ddd;
     color: black;
 }
 
 .hamburger {
     display: none;
     font-size: 40px;
     color: white;
     background: none;
     border: none;
     cursor: pointer;
 }

 .skip {
     position: absolute;
     left: -10000px;
     top: auto;
     width: 1px;
     height: 1px;
     overflow: hidden;
   }
   .skip:focus {
     position: static;
     width: auto;
     height: auto;
   }

   .parallax {
     background-image: url('../project4/images/g9_bgbg.png'); 
     min-height: 600px; 
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     
 }
 


 @media only screen and (min-width: 700px) {
     .intro2 video {display:none;}
     .intro2 {display:none;}

  
 }
 
 @media only screen and (max-width: 699px) {
 nav a {display: block;}
 nav a span {display: none;}
 .PSbox {
      width: 100%;
      }
      .indsec, .indsec1, .indsec2 {
          max-width: 100%; 
      }
     .intro {display:none;}
     .g9vidiframe {
   
          width:100%;
     }
     .navlinks {
          display: none;
          flex-direction: column;
      }
  
      .navlinks a {
          text-align: center;
          width: 100%;
          padding: 10px;
      }
  
      .hamburger {
          display: block;
      }
      #indtitle {
          font-size: 4em;
      }

 }
 
 
