
nav {background-color:#000000;
     padding: 10px;
     margin-bottom: 40px;
     text-align: center;
}
nav a {color:#ffffff;text-decoration: none;}
nav a:hover {background-color:#D7C0AE;} 


body {background-color:#ffffff; color:#000000;}

a {color:#630000;}



#introhome {max-width:100%;  display: block; margin-left: auto; margin-right: auto;}
h1 {color:#000000; text-align:center; font-size: 5.5em;}
#indquote {color:#000000; text-align:center; font-size: 2.5em; font-family: 'Anton', sans-serif;
     font-family: 'Bebas Neue', sans-serif;
     }
.indsec, .indsec1, .indsec2 {font-size:1.2em;}
.indsec p {font-size:1em;}

.insentencesam {font-size:1.2em; color:#3f34e1}
h2 {font-size:2em;
     text-align: center;
}
.indflex1 {display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     align-items: center;
     width: 100%;
     height: auto;
}
.indflex1 img {max-width:100%;}



.PD {display: flex;
     align-items: center;
     margin-bottom: 20px;
     padding: 20px;
}

.PDT, .PDI {flex: 1;
     padding: 10px;
}
.PDI img {max-width:100%;}
.PDR {display: flex;
     align-items: center;
     margin-bottom: 20px;
     flex-direction: row-reverse;
     padding: 20px;
}

.PSflex {
     display: flex;
     flex-wrap: wrap;
     justify-content:space-evenly;
}

.PSbox {
     width: 48%; 
     margin-bottom: 25px;
     border: 1px;
     border-style: solid;
     border-color:#000000;
     padding: 10px;
}

.comparisonintro {
     text-align: center; 
     font-size: 2em;
}


.divide_half {
     display: flex;
     height: 100%;
 }
 
 .left_half, .right_half {
     flex: 1;
     padding: 20px;
     text-align: center;
 }
 .left_half img, .right_half img{
     max-width: 100%;
}

 .compcontent {text-align: center;
     margin-left: 4em;
     margin-right: 4em;
}

 .compconthead h3 {
     text-align: center;
 }
 .previews {display:flex; flex:2; flex-wrap:wrap;}
 .previewlist {     margin-bottom: 25px;
     border: 1px;
     border-style: solid;
     border-color:#000000;
     padding: 10px;}
.previews h3 {font-size:1.5em;}

 button {align-items: center;}
 



 .subbanner {
     display: flex;
     position: fixed;
     background-color: #ffafafd1;
     left: 0;
     bottom: 0;
     width: 100%;
     padding: 20px;
     box-sizing:border-box;
     justify-content:space-around;
     align-items:center;

 }

 .subbanner input {
     padding: 10px;
     margin-right: 10px;
     border: 1px solid #ddd;
     border-radius: 5px;
 }

 .subbanner button {
     padding: 5px 15px;
     background-color: #1313f3;
     color: #ffffff;
     border-radius: 5px;
     cursor: pointer;
     
 }


 .close_btn {
     margin-left: 20px;
     cursor: pointer;
     font-size:20px;
     
 }

 .subbanner p {
     font-size: 25px;
     font-family:'Bebas Neue', sans-serif;
 }
 .indsec, .indsec1, .indsec2 {
    flex: 1 1 auto;
    border: 2px solid #000;
    padding: 60px;
    margin: 10px;
    box-sizing: border-box;
    min-width: 100px;
    max-width: 2000px;
 }

 .indcontainer {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }

.g9vid {
     max-width: 420px;
     margin: 0px auto;
}
.g9vid > div {
     position: relative;
     padding-bottom: 75%;
     height: 0px;
}
.g9vid iframe {
     position: absolute;
     top: 0px;
     left: 0px;
     width: 100%;
     height: 100%;
}
 @media only screen and (min-width: 800px) {

 }
 
 @media only screen and (max-width: 799px) {
 nav a {display: block;}
 nav a span {display: none;}
 .PSbox {
      width: 100%;
      }
      .indsec, .indsec1, .indsec2 {
          max-width: 100%; 
      }
 }
 .emailhide {
     display:none;
 }